* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --font-color: #fff;
}

/*? Header section start */

.header-section .nav-container {
  /* position:fixed; */
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.header-section .center-content {
  position: absolute;
  height: 60rem;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 2.4rem;
}

.header-section .center-content img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.logo-section {
  z-index: 2;
  display: flex;
  align-items: center;
}

.nav-container .nav-bars ul li {
  list-style: none;
}

.nav-container .nav-bars ul li a {
  text-decoration: none;
  color: var(--font-color);

  &:hover {
    color: red;
  }
}

.nav-container .nav-bars {
  position: relative;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.2rem;
  z-index: 2;
}

.nav-container .nav-bars .hover-effectors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.2rem;
  margin: 0rem 2rem;
}

.display-product a,
.display-company a {
  color: var(--font-color);
  text-decoration: none;
}

.display-product {
  color: var(--font-color);
  display: inline-block;
  position: relative;
  &:hover {
    color: red;
  }
}

.drop-down--product {
  display: none;
  position: absolute;
  min-width: 25rem;

  & a {
    display: flex;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.display-product:hover .drop-down--product {
  display: block;
}

.display-company {
  color: var(--font-color);
  /* display: inline-block; */
  position: relative;
  &:hover {
    color: red;
  }
}

.drop-down--company {
  display: none;
  position: absolute;
  min-width: 25rem;

  & a {
    display: flex;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.display-company:hover .drop-down--company {
  display: block;
}

.hover-effect--background {
  position: absolute;
  /* z-index: -3; */
  height: 27rem;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #4CB9E7;
  /* display: none; */
}

.none {
  height: 0rem;
  width: 0rem;
  display: none;
}

.logo-section img {
  height: 13rem;
  width: 12rem;
}

/* Header section end */
